@use "../../global" as g;

/*!
page > contact > contact
------------------------------
*/

.contact {
    background-color: var(--color-primary-extra-light);
}

.contact-title {
    font-size: 24px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 12px;
    position: relative;

    @include g.mq() {
        font-size: 32px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 5px;
        border-radius: 10px;
        background: linear-gradient(to right,
                var(--color-primary) 0%, var(--color-primary)50%,
                var(--color-accent) 50%, var(--color-accent) 100%);
    }
}