:root {
    --color-font-base: #333835;
    --color-primary: #46B06B;
    --color-black: #313331;
    --color-white: #FFFFFF;
    --color-gray: #F7F7F7;
    --color-border-light: #EBEEF4;
    --color-border: #D8DADE;
    --color-dummy: #A0A0A0;
    --color-font-light: #6B6C6C;
    --color-accent: #ED8F41;
    --color-primary-light: #E2F6E9;
    --color-favorite: #E2BD43;
    --color-favorite-hover: #E2BD4360;
    --color-red: #E74848;
    --color-slider-dot: #C7C7C7;
    --color-primary-extra-light: #F2F8F4;
    --color-link: #398AE1;
    --color-rank-1: #E2BD43;
    --color-rank-2: #A7A9AC;
    --color-rank-3: #CD7F32;
    --color-rank-other: #313331;
    --color-bg-component: #D0D0D0;
    --color-accent-light: #FEF0E4;
}