@use "../../global" as g;

/*!
page > error
------------------------------
*/

.error {
    background-color: var(--color-primary-extra-light);
}

.error-title {
    font-size: 40px;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-align: center;
}

.error-text {
    margin-top: 24px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 700;

    @include g.mq(md) {
        font-size: 20px;
    }
}

.error-button {
    margin-top: 40px;
    margin-inline: auto;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 700;
    border-radius: 6px;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 74px;
    transition: opacity 0.6s;

    @media (any-hover:hover) {
        &:hover {
            opacity: 0.7;
        }
    }

    @include g.mq() {
        margin-top: 80px;
        font-size: 20px;
    }
}